.image { 
   background-image: url("img/ptes.jpg");
   background-repeat:no-repeat;
   position: absolute;
   background-size:100%; 
   z-index:0;
   left:0;
   top:0;
   width:100%;
   height:100%;
   top:0;
   /*width: 150%; /* for IE 6 */
   /*background: url(bgimage.jpg) no-repeat;*/
   /*background-size: 100%;*/
}

h3 { 
   position: absolute; 
   top: 3px;
   left: 109px;
   color:#000066;
   text-shadow:3px 4px 5px #000; 
   text-align:left; 
   width: 50%; 
}
 l {
    position: absolute;
    top: 200px;
    padding:0px;
    left: 40px;
    color: red;
    background-color: rgba(255, 255, 255, .4); 
    
}
lea{
    position: absolute;
    top: 265px;
    color:#990033;
    padding:0px;
    left: 330px;
    /*background-color: rgba(255, 255, 255, .4); */
    /*width:100%;*/ 
    
}
f {
    position: absolute;
    top: 300px;
    left: 40px
    color: red;
    width:100%; 
}


i{
      top: 17px;
      left:27px;
      position: absolute;
      z-index: 1;
      visibility: show;
}
j{
      top: 0px;
      left:700px;
      position: absolute;
      z-index: 1;
      visibility: show;
}
k
{
      top: 350px;
      left:9px;
      position: absolute;
      z-index: 1;
      visibility: show;
}
g
{
      top: 459px;
      left:459px;
      position: absolute;
}
.button {
    background-color:#CC9966; /* Green */
    border: 0.3px solid #FF9966;
    color: #000033;
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    cursor: pointer;
    float: left;
}

.button:hover {
    background-color: grey;
}

m
{
    position: absolute;
    top: 150px;
    padding:0px;
    left: 330px;
    /*background-color: rgba(255, 255, 255, .4); */
    width:100%; 
    
}

