<!DOCTYPE html>
{% load static %}
<html>
<title>{% block title %}Benefits{% endblock %}</title>

<head>
<link rel = "stylesheet" type="text/css" href="{% static 'css/beni.css' %}"/>
</head>
<body>
<div class="image">

<h3>Benefits</h3>
<le>The system LEARNER'S LEARNER provides an assisted
learning experience through a stratified problem solving environment. It
also provides an interactive user interface for the learner to creatively
solve the problems with effective guidance from the system and a means
to give user's feedback. The LEARNER'S LEARNER system evaluates and analyzes
learner's performance and provides suggestions to improve upon learner's
learning ability. This system focuses mainly on general Problem Solving
and Programming in Computer Science domain. The system learns how
the learner learns these subjects and guides the learner towards an effective
understanding of the subjects.
The application is basically a prototype system that represents the
core working of the more intelligent and sophisticated e-learning system
that can be built on top of it.</le>
</div>
</body>
</html>
