<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>{% block Learner's_Learner %}Data Structures{% endblock %}</title>
<link rel = "stylesheet" type="text/css" href="{% static 'css/prog.css' %}"/>
<script>
function myFunction() {
	var myWindow = window.open("","MsgWindow","width=1400,height=1024,scrollbars=yes");
	myWindow.location="/pupil/test7"
}
function myFunct() {
	var myWidow = window.open("","MsWindow","width=1400,height=1024,scrollbars=yes");
	myWidow.location="http://www.tutorialspoint.com/data_structures_algorithms/"
}
function myFunc() {
	var myWiow = window.open("","MsWndow","width=1400,height=1024,scrollbars=yes");
	myWiow.location="https://upload.wikimedia.org/wikipedia/commons/5/5b/Data_Structures.pdf"
}
function myFun() {
	var myWiw = window.open("","MsWdow","width=1400,height=1024,scrollbars=yes");
	myWiw.location="http://www.csse.monash.edu.au/~lloyd/tildeAlgDS/"
}
</script>
</head>
<body>
<div class="image">
<h3>Data Structures</h3>
<l>Description</l>
<le>A data structure is a particualr way of organizing data in a computer
    so that it can be efficiently used. Data structures can implement one
    or more abstrct data types(ADT),which specify the operations that can 
    be performed on a data structure and the computational complexity of 
    those operations.A data structure is a concrete implementation of the 
    specification provided by the ADT.</le>
<lea>References</lea>
<lq><button onclick="myFunct()" class="button button1"> Tutorial</button></a></lq>

<lt><button onclick="myFunc()" class="button button1">Wikibook</button></a></lt>

<lr><button onclick="myFun()" class="button button1">Simplified</button></a></lr>
<k><pre><a href="/pupil"/><font size="9"; color="#CC0000">Ready?<br/></font></pre><button onclick="myFunction()" class="button3 button2"> Take the test</button></a></k>
</div>
</body>
</html>




