<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>{% block Learner's_Learner %}Python{% endblock %}</title>
<link rel = "stylesheet" type="text/css" href="{% static 'css/prog.css' %}"/>
<script>
function myFunction() {
	var myWindow = window.open("","MsgWindow","width=1400,height=1024,scrollbars=yes");
	myWindow.location="/pupil/test13"
}
function myFunct() {
	var myWidow = window.open("","MsWindow","width=1400,height=1024,scrollbars=yes");
	myWidow.location="https://www.tutorialspoint.com/automata_theory/index.html"
}
function myFunc() {
	var myWiow = window.open("","MsWndow","width=1400,height=1024,scrollbars=yes");
	myWiow.location="https://en.wikipedia.org/wiki/Theory_of_computation"
}
function myFun() {
	var myWiw = window.open("","MsWdow","width=1400,height=1024,scrollbars=yes");
	myWiw.location="https://www.cse.iitd.ernet.in/~sak/courses/toc-recursive-function-theory.pdf"
}
</script>
</head>
<body>
<div class="image">
<h3>Python</h3>
<l>Description</l>
<le>Python is a general-purpose, interpreted, interactive, object-oriented and high-
level programming language.Python was designed to be highly readable which uses
English keywords frequently where as other languages use punctuation and it has
fewer syntactical constructions than other languages.</le>
<lea>References</lea>
<lq><button onclick="myFunct()" class="button button1"> Tutorial</button></a></lq>

<lt><button onclick="myFunc()" class="button button1">Wikibook</button></a></lt>

<lr><button onclick="myFun()" class="button button1">Simplified</button></a></lr>
<k><pre><a href="/pupil"/><font size="9"; color="#CC0000">Ready?<br/></font></pre><button onclick="myFunction()" class="button3 button2"> Take the test</button></a></k>
</div>
</body>
</html>
