<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>Signup</title>
<link rel = "stylesheet" type="text/css" href="{% static 'css/signu.css' %}" />
</head>
<body>
<div class="image">
<h3><font face="Comic sans MS" size="19">Learner's Learner</h3>
<lq><a href="{% url 'pupil:index' %}"> <button class="button3 button2"> HOME</button></a></lq>
<ly><a href="{% url 'pupil:login' %}"> <button class="button3 button2"> LOGIN</button></a></ly>
<h2><strong>{{ boldmessage }}</strong></h2>
<lr><font size="4"><strong>Signup Here</strong><br/>
<form id="signup" action="{% url 'pupil:signup' %}" method="POST" target="_parent" >
		{% csrf_token %}
		<p>
		{{ form.as_p }}
		personal:<textarea type="text" name="eid" title="eid" placeholder="your words"></textarea>
		</p>
<input type="submit" value="Signup" /> <input type="reset"></font></form></lr></pre>
</div>
<!--<div class="footer">
<font face="Comic sans MS" size="2"><h3>"Education is the manifestation of the perfection that is already in man." --<em>Swami Vivekananda.</em></h3>
</div>-->
</body>
</html>

